.aboutMe {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--text-color);

  h1 {
    font-size: var(--h1-size);
    color: var(--h1-color);
  }

  h2 {
    font-size: var(--h2-size);
    color: var(--h2-color);
  }

  p {
    font-size: var(--text-size);
  }
  li{
    font-size: var(--text-size);
  }
}

.info {
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-around;
  //padding-top: 5%;

  div {
    //width: 30vw;
    //background: transparent;
    background: #f2b9cc;
    color: #523637;
    border-radius: 20px;
    margin: 3%;
    padding: 2%;
    // box-shadow: 0px 0px 50px #ff91b1;
    ul {
      list-style: none;
    }
  }
}